name: Build Windows Package
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Create Windows Package
        run: |
          jpackage --input target/ --name PL-TOOLS --app-version 1.0 --main-class com.sws4cloud.pltools.PLToolsApplication --main-jar PL-TOOLS-1.0-SNAPSHOT.jar --type exe

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: PL-TOOLS-windows
          path: PL-TOOLS.exe
